﻿@inject ICardService CardService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay; overflow-y: auto;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm EditContext="@_editContext" OnSubmit="@HandleSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="card-form-label" for="cardUrl">Url:</label>
                                <InputText @bind-Value="Card.Url" id="cardUrl" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="card-form-label" for="cardName">Name:</label>
                                <InputText @bind-Value="Card.Name" id="cardName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="card-form-label" for="cardUsername">Username</label>
                                <InputText @bind-Value="Card.Username" id="cardUserName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="card-form-label" for="cardPassword">Password</label>
                                <div class="input-group">
                                    <InputText @bind-Value="Card.Password" id="cardPassword" class="form-control" type="password" />
                                    <button type="button" @onclick="CopyToClipboard" class="input-group-text"><i class="oi oi-clipboard" /></button>
                                </div>
                            </div>
                            <InputCheckbox @bind-Value="_showPassword" @onclick="ShowPassword" id="showCardPassword" /> Show Password
                        </div>
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <EditForm EditContext="@_editContext" OnSubmit="@HandleSubmit">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Close</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@if (_showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public RenderFragment Title { get; set; }

    public Card Card { get; set; } = new Card();
    public Action<Card> UpdateList { get; set; }
    public bool CreationMode { get; set; }

    private EditContext _editContext;
    private string _modalDisplay = "none;";
    private string _modalClass = "";
    private bool _showBackdrop = false;
    private bool _showPassword = false;

    public void Open()
    {
        _modalDisplay = "block;";
        _modalClass = "show";
        _showBackdrop = true;
    }

    public void Close()
    {
        _modalDisplay = "none";
        _modalClass = "";
        _showBackdrop = false;
    }

    protected override Task OnParametersSetAsync()
    {
        _editContext = new(Card);

        return base.OnParametersSetAsync();
    }

    private async Task HandleSubmit()
    {
        if (_editContext.Validate())
        {
            if (CreationMode)
            {
                Card = await CardService.CreateCard(Card);
            }
            else
            {
                await CardService.UpdateCard(Card.Id, Card);
            }

            UpdateList(Card);
            Close();
        }
    }

    private async Task ShowPassword()
    {
        await JSRuntime.InvokeVoidAsync("showPassword", _showPassword);
    }

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", Card.Password);
    }
}