﻿@page "/passwords"
@inject ICardService CardService
@inject IJSRuntime JSRuntime
@inject IToastService ToastService

<nav class="navbar navbar-expand-lg navbar-light bg-light" hidden="@_hideSearchBar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Name" aria-label="Search" @bind-value="@_search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" @onclick="Search">Search</button>
        </form>
    </div>
</nav>
<br />
<div class="row">
    <div class="col-md-10">
        <h3>Passwords</h3>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary float-right" @onclick="() => OpenModal(null)" hidden="@_hideCreateNew">Create New Password</button>
    </div>
</div>

@if (_cards == null)
{
    <span class="text-danger">There is an error loading data. Try re-loading the page.</span>
}
else if (_cards.Count == 0)
{
    <span>No passwords available.</span>
}
else
{
    <div class="py-5">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var card in _cards)
            {
                <div class="col col-card mb-4">
                    <div class="card h-100" style="width: 12rem;">
                        <div class="card-body">
                            <h3 class="card-title text-center">@card.Name[0]</h3>
                            <div class="row">
                                <div class="col-md-9 col-card-body">
                                    <p class="card-text">
                                        <b>@card.Name</b> <br />
                                        @card.Username
                                    </p>
                                </div>
                                <div class="col-md-3 col-card-buttons">
                                    <button type="button" class="btn btn-sm btn-light btn-card" @onclick="() => OpenModal(card.Id)"><i class="oi oi-pencil icon-card"></i></button>
                                    <button type="button" class="btn btn-sm btn-light btn-card" @onclick="() => DeleteCard(card.Id)"><i class="oi oi-trash icon-card"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<Modal @ref="_modal">
    <Title>Password Manager</Title>
</Modal>

@code {

    private List<CardDto> _cards = new List<CardDto>();
    private Modal _modal { get; set; }
    private string _search { get; set; }
    private bool _hideCreateNew { get; set; }
    private bool _hideSearchBar { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _cards = await CardService.GetAllCards();
        if (_cards == null)
        {
            _hideCreateNew = true;
            _hideSearchBar = true;
        }
    }

    protected async Task OpenModal(int? id)
    {
        if (id.HasValue)
        {
            Card card = await CardService.GetCard(id.Value);
            if (card != null)
            {
                _modal.CreationMode = false;
                _modal.Card = card;
            }
        }
        else
        {
            _modal.CreationMode = true;
            _modal.Card = new Card();
        }

        _modal.UpdateList = UpdateList;
        _modal.Open();
    }

    protected async Task DeleteCard(int id)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("deletePassword", "Are you sure you want to delete your password for this site?");
        if (confirmed)
        {
            var deleted = await CardService.DeleteCard(id);
            if (deleted)
            {
                _cards.RemoveAll(x => x.Id == id);
                ToastService.ShowSuccess("Password was deleted.");
            }
            else
            {
                ToastService.ShowError("Password was not deleted.");
            }

            StateHasChanged();
        }
    }

    protected async void Search()
    {
        _cards = await CardService.SearchByName(_search);
        StateHasChanged();
    }

    protected void UpdateList(Card card)
    {
        if (_modal.CreationMode)
        {
            _cards.Add(new CardDto { Id = card.Id, Name = card.Name, Username = card.Username });
            ToastService.ShowSuccess("Password was created.");
        }
        else
        {
            var existingCard = _cards.Where(x => x.Id == card.Id).FirstOrDefault();
            var index = _cards.IndexOf(existingCard);

            _cards[index] = new CardDto { Id = card.Id, Name = card.Name, Username = card.Username };

            ToastService.ShowSuccess("Password was modified.");
        }

        StateHasChanged();
    }
}