﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.col {
    flex-grow: 0 !important;
}

.col-card {
    padding-right: 0 !important;
}

.col-card-body {
    padding-left: 5px !important;
    padding-right: 0px !important;
    font-size: 10px !important;
}

.col-card-buttons {
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: right !important;
    font-size: 12px !important;
}

.btn-card {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.icon-card {
    font-size: 10px !important;
}

.sidebar {
    width: auto !important;
}

card-form-label {
    display: block !important;
}

